<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <% if user_signed_in? %>
          <strong><%= post.user.name %></strong> <small>@<%=post.user.username %></small>
          <br>
          <% else %>
            <strong>Sign in to see who's posting!</strong><br/>
          <% end %>
          <%= post.text %>
        </p>
      </div>
    </div>
  </article>
</div>




