<p style="color: green"><%= notice %></p>

<h1 class="has-text-centered has-text-primary is-size-1">Posts</h1><br/>

<div id="posts">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <% @posts.each do |post| %>
        <%= render 'post', post: post %>
      <% end %>
    </div>
  </div>
</div>

<br/>

<div class="has-text-centered has-text-link-dark">
    <%= link_to "New post", new_post_path %>
</div>



